@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply border-none text-white border p-2 bg-gray-700 w-64 rounded-md outline-none resize-none focus:outline focus:outline-1 focus:outline-red-200
}

@keyframes slide-left {
    0% {
		transform: translate(0%);
	}
	100% {
		transform: translate(-100%);
	}
}
@keyframes slide-right {
    0% {
		transform: translate(-100%);
	}
	100% {
		transform: translate(0%);
	}
}
@keyframes slide-right-desktop {
    0% {
		transform: translate(0%);
	}
	100% {
		transform: translate(0%);
	}
}
.slide-right{
    animation: slide-right forwards 200ms ease-out  ;
}
.slide-left{
    animation: slide-left forwards 200ms ease-out;
}
.slide-right-desktop {
    animation: slide-right forwards 200ms ease !important;
}